.alerta { /*Creamos un estilo para las alertas en general*/
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
/*Les damos un color segun de que tipo de alerta sean*/
.exito {
    color: green;
}

.error {
    color: red;
}